<h1>我的收藏夹</h1>


<% @collections.each do |collection| %>
    <div class="panel panel-success" style="width: 60%">

      <div class="panel-body">
        <table style="width: 100%">
          <tr >
            <td style="vertical-align: top">
                <%= link_to collection.name , "http://localhost:3000/collections/"+collection.id.to_s(),:style => "font-size: large"%>
            </td>
            <td  style="float: right">
              <%= link_to '编辑', "http://localhost:3000/collections/"+collection.id.to_s()+"/edit" %>
            </td>
          </tr>
          <% if collection.name !="体育瞬间" %>
            <tr style="height: 150px">
              <td>
                <span style="float: left">
                  <image src="/images/collect/c1.jpg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">夕阳的树林</a>
                </span>
                <span style="float: left">
                  <image src="/images/collect/c2.jpg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">光影的魅力</a>
                </span>
<span style="float: left">
                  <image src="/images/collect/c3.jpg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">城市掠影</a>
                </span>
              </td>

            </tr>
              <%else%>
              <tr style="height: 150px">
                <td>
                <span style="float: left">
                  <image src="/images/collect/c4.jpeg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">23号传奇</a>
                </span>
                <span style="float: left">
                  <image src="/images/collect/c5.jpg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">乔丹壁纸</a>
                </span>
<span style="float: left">
                  <image src="/images/collect/c6.jpg" style="height: 100px;width: auto; margin: 10px">    </image><br>
                  <a href="" style="margin-left: 50px">乔丹Logo</a>
                </span>
                </td>

              </tr>
              <% end %>
<td>
  <%= link_to '查看全部' , collection %>
</td>
            <td style="float: right">
              <button  type="button" class="btn btn-default" >
                加关注
              </button>
            </td>
          </tr>
        </table>
        <div style="padding-left: 20px">

          <div>



          </div>

        </div>
      </div>
    </div>


<% end %>

<br />

<%= link_to '新建收藏夹', "new"%>