<div>
      <div style="float: left; display: table-cell; vertical-align: middle">
        <image src="/images/plant.jpg" alt="image with circle shape" class="img-circle"
             style="width: 80px; height: 80px; margin: 10px"></image>
        <p style="margin-left: 40px">小刚</p>
      </div>

    <div class="panel panel-primary" style="float: left">
      <div class="panel-body">
        <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
        <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
        <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
        <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
      </div>
    </div>
</div>



<div>
  <div>
    <img src="/images/plant.jpg" alt="image with circle shape" class="img-circle"
         style="width: 80px; height: 80px; margin: 10px">
    <p style="margin-left: 40px">小刚</p>
  </div>
  <div class="panel panel-primary" style="float: left">
    <div class="panel-body">
      <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
      <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
      <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
      <image src="/images/plant.jpg" style="width:150px;height: 150px; float:left; margin: 3px"></image>
    </div>
  </div>
</div>