<div class="demo-browser">
  <div class="demo-browser-side" style="width: 30%">
  <div style="width: 100%; height: 80px; margin-left: 70px">
    <img src="/images/plant.jpg" alt="image with circle shape" class="img-circle"
         style="width: 80px; height: 80px; float: left; margin: 10px">
  </div>
    <div class="demo-browser-action">
      <a class="btn btn-danger btn-large btn-block" href="" target="_blank">
        <span style="margin-left: 60px">
          Follow
        </span>
      </a>
    </div>
  </div>
  <div class="demo-browser-content">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">

  </div>
</div>

<div class="demo-browser">
  <div class="demo-browser-side" style="width: 30%">
    <div style="width: 100%; height: 80px; margin-left: 70px">
      <img src="/images/plant.jpg" alt="image with circle shape" class="img-circle"
           style="width: 80px; height: 80px; float: left; margin: 10px">
    </div>
    <div class="demo-browser-action">
      <a class="btn btn-danger btn-large btn-block" href="" target="_blank">
        <span style="margin-left: 60px">
          Follow
        </span>
      </a>
    </div>
  </div>
  <div class="demo-browser-content">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">
    <img src="/images/plant.jpg" style="width: 150px; height:150px" alt="">

  </div>
</div>
