<h3>下面是关于用户 <%= params[:search_string] %> 的搜索结果</h3>
<table>
	<tr>
		<td>Name</td>
		<td>Email</td>
	</tr>
	<% for user in @users %>
	<tr>
		<td><%=h user.name %></td>
		<td><%=h user.email %></td>
	</tr>
	<% end %>
</table>
