<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SHOW U LIFE!</title>
	 <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>
<body  style="background-image : url(images/BingWallpaper-2014-11-05.jpg);">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div style="margin-top: 50px; margin-left:15%; margin-right:15%;">
	<div style="float:left; width:40%;">
        <h1>Welcome to Moment</h1>
        <p style="margin-top: 30px">婚礼是情欲与爱意的神圣结合之后的升华</p>
	</div>


	<div style="float:right; width:60%;">
		<div  class="panel panel-default" style="float:right; margin-right:50px; width:60%;">
		<div class="panel-body">
		<form class="form-signin" role="form" action="/sessions" method="post">
        <input type="name" class="form-control" placeholder="Email address" name="user[email]"  required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required=""  name="user[pwd]">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="/user/forgetpwd">忘记密码</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100px; height: 40px; float: right">登录</button>
      	</form>
      	</div>
	</div>


	<div class="panel panel-default"  style="float:right; margin-right:50px; width:60%;">
	  <div class="panel-heading">据说你是新来的？</div>
	  <div class="panel-body">
	    <form class="form-signin" role="form" action="/users" method="post">
        <input type="name" class="form-control" placeholder="Your Name" required="" autofocus="" name="user[name]">
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" name="user[email]">
        <input type="password" class="form-control" placeholder="Password" required="" name="user[pwd]">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100px; height: 40px; float: right" >注册</button>
      	</form>
	  </div>
	</div>
	</div>
	
      </div>



</body> 

</html>