<p id="notice"><%= notice %></p>
<div style="float: left; width: 20%; border-right:2px solid gray;">
  <p>
    你好, <%= @user.name %>
  </p>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Po照片</a></li>
    <li role="presentation"><a href="#">我的相册</a></li>
    <li role="presentation"><a href="#">为我推荐的照片</a></li>
  </ul>
</div>

<div style="margin-left:25%;">

  <div>
    <div>
      <image src="/images/2.jpg" style="width:40px;height: 40px; float:left"></image>

      <p style="color: grey;  padding-left: 50px">
        小明，小刚，赞了照片,两小时前
      </p>
    </div>

    <div style="padding-top: 20px;">
      <div style="width: 50px; float: left">
        <button type="button" class="btn btn-default" style="float:left"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <span>308</span>
        <button type="button" class="btn btn-default" style="float:left"><span class="glyphicon glyphicon-thumbs-down"></span></button>
      </div>
      <div style="float: left">
        <image src="/images/avator.png" style="width:400px;height:300px"></image>
      </div>
    </div>

  </div>

</div>

