<!DOCTYPE html>
<html>
<head>
  <title>HCI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <ul >
  	<li id="scpt0" class=""><a href="/images?FORM=Z9LH" >图片</a><div id="scpc0"></div></li>
  </ul>
</head>
<body>

<%= yield %>

</body>
</html>
